footer.site-footer
  .container
    p Кирилл Царенко © 2020
    p Для повышения удобства сайт использует cookies. Оставаясь на сайте, вы соглашаетесь с <a class="link" href="#">политикой конфиденциальности</a>.

    if page.name !== 'feedback'
      p Связаться со мной можно на <a class="link" href="feedback.html">этой странице</a>.
