block variables
include mixins.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(name="description" content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.")
    title #{page.title}
    link(rel="stylesheet" type="text/css" href="css/MyFontsWebfontsKit.css")
    link(rel="stylesheet" href="css/style.min.css")

  body
    include header.pug
    main
      block content
    include footer.pug

    script(src='js/script.min.js')

    if page.name === 'index' || page.name === 'articles'
      <script>const swup = new Swup({plugins: [new SwupScrollPlugin()]}); swup.on('contentReplaced', function() {window.initializeSliders();});</script>
