.article {
  margin-bottom: 76px;

  a {
    color: $color-charade;
    transition: color $transition-time $transition-function;

    &:hover,
    &:focus {
      color: $color-pomegranate;
    }
  }

  .articles-btn {
    transition: color $transition-time $transition-function, background-color $transition-time $transition-function;

    &:hover,
    &:focus {
      color: $color-white;
    }
  }
}

.article__img {
  margin-bottom: 42px;
  box-shadow: 0 12px 42px rgba(40, 40, 40, 0.1);

  img {
    display: block;
  }
}

.article__container {
  display: flex;
}

.article__hashtags {
  margin-bottom: 76px;
  font-size: 12px;

  a {
    margin-right: 16px;
  }
}

.article__share {
  position: relative;
  margin-left: 29px;

  svg {
    display: block;
    fill: $color-charade;
    cursor: pointer;
    transition: fill $transition-time $transition-function;

    &:hover {
      fill: $color-pomegranate;
    }
  }

  &:hover .article__share-dropdown-container {
    display: block;
  }

  &:focus-within .article__share-dropdown-container {
    display: block;
  }
}

.article__share-dropdown-container {
  display: none;
  position: absolute;
  top: 24px;
  left: -26px;
  padding-top: 15px;
}

.article__share-dropdown {
  position: relative;
  background-color: $color-white;
  border-radius: 5px;
  box-shadow: 0 10px 59px rgba(40, 40, 40, 0.19);

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 34px;
    width: 10px;
    height: 10px;
    background-color: $color-white;
    transform: rotate(45deg);
  }
}

.article__share-socials {
  @include list-reset;
  display: flex;
  padding: 14px 22px 15px 20px;
  border-bottom: 1px solid $color-concrete;

  li {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    fill: $color-silver;
  }
}

.article__share-facebook {
  &:hover,
  &:focus {
    svg {
      fill: $color-facebook;
    }
  }
}

.article__share-vk {
  &:hover,
  &:focus {
    svg {
      fill: $color-vk;
    }
  }
}

.article__share-twitter {
  &:hover,
  &:focus {
    svg {
      fill: $color-twitter;
    }
  }
}

.article__share-odnoklassniki {
  &:hover,
  &:focus {
    svg {
      fill: $color-odnoklassniki;
    }
  }
}

.article__share-link {
  position: relative;
  display: block;
  padding: 3px 20px 5px 50px;
  font-size: 12px;
  line-height: 30px;
  color: $color-gray;
  transition: color $transition-time $transition-function;

  svg {
    position: absolute;
    top: 10px;
    left: 23px;
    fill: $color-gray;
    transition: fill $transition-time $transition-function;
  }

  &:hover,
  &:focus {
    color: $color-roman;

    svg {
      fill: $color-roman;
    }
  }
}
