.feedback {
  margin-bottom: 77px;
  padding-top: 51px;

  p {
    max-width: 540px;
    margin: 0;
    margin-bottom: 6px;
  }
}

.feedback__form {
  position: relative;
  margin-top: 45px;
  margin-bottom: 84px;
  padding: 27px 30px 30px 31px;
  box-shadow: 0 12px 42px rgba(40, 40, 40, 0.1);

  button {
    display: block;
    min-width: 254px;
    padding: 18px 30px;
    font-family: "Gilroy-Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-charade;
    border: none;
    cursor: pointer;
    transition: background-color $transition-time $transition-function;

    &:hover,
    &:focus {
      background-color: $color-tuna;
    }
  }

  &.is-success {
    box-shadow: none;

    form {
      opacity: 0;
      pointer-events: none;
    }

    .feedback__success-message {
      position: absolute;
      top: 224px;
      left: 0;
      display: block;
      max-width: none;
      margin: 0;
      font-family: "Gilroy-Heavy", "Arial", sans-serif;
      font-size: 72px;
      line-height: 72px;
      font-weight: 900;
    }
  }
}

.feedback__contact-info {
  position: relative;
  max-width: 508px;
  margin-bottom: 30px;

  label {
    position: absolute;
    top: 19px;
    left: 30px;
    pointer-events: none;
    transition: transform $transition-time $transition-function, font-size $transition-time $transition-function;
  }

  input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 22px 29px 0;
    line-height: 24px;
    font-weight: 100;
    color: $color-charade;
    border: 1px solid $color-gallery;

    &.is-invalid {
      border-color: $color-pomegranate;
    }
  }

  &.is-filled {
    label {
      font-size: 12px;
      transform: translateY(-11px);
    }
  }
}

.feedback__message {
  margin-bottom: 30px;

  textarea {
    display: block;
    width: 100%;
    height: 163px;
    padding: 18px 29px;
    line-height: 24px;
    font-weight: 100;
    color: $color-charade;
    border: 1px solid $color-gallery;
    resize: none;

    &::-webkit-input-placeholder {
      color: $color-charade;
    }

    &::-moz-placeholder {
      color: $color-charade;
    }

    &:-ms-input-placeholder {
      color: $color-charade;
    }

    &::-ms-input-placeholder {
      color: $color-charade;
    }

    &::placeholder {
      color: $color-charade;
      opacity: 1;
    }

    &.is-invalid {
      border-color: $color-pomegranate;
    }
  }
}

.feedback__agreement {
  display: flex;
  margin-bottom: 26px;

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $color-gallery;
    }
  }

  input:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 5px;
    width: 11px;
    height: 7px;
    background: url("../img/icons/check.svg") no-repeat 0 0;
  }
}

.feedback__success-message {
  display: none;
}
