.portfolio-preview {
  margin-bottom: 121px;
  padding-top: 50px;

  p {
    max-width: 550px;
    margin-top: 0;
    margin-bottom: 6px;
  }

  .slider {
    margin-top: 83px;
  }
}

.portfolio-preview__slide-element {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}

.portfolio-preview__greenhouse {
  .portfolio-preview__slide-element {
    &:nth-child(2) {
      top: -54px;
      left: -72px;
    }

    &:nth-child(3) {
      top: 30px;
      left: -92px;
    }

    &:nth-child(4) {
      top: 76px;
      left: -41px;
    }

    &:nth-child(5) {
      top: 208px;
      left: -94px;
    }

    &:nth-child(6) {
      top: 320px;
      left: -19px;
    }

    &:nth-child(7) {
      top: -25px;
      right: 13px;
    }

    &:nth-child(8) {
      top: 27px;
      right: -68px;
    }

    &:nth-child(9) {
      top: 112px;
      right: 6px;
    }

    &:nth-child(10) {
      top: 175px;
      right: -68px;
    }

    &:nth-child(11) {
      top: 292px;
      right: -53px;
    }
  }
}

.portfolio-preview__satellite {
  .portfolio-preview__slide-element {
    left: 38px;
    bottom: -47px;
    z-index: 90;
  }
}

.portfolio-preview__additional-img {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}

.portfolio-preview__corynean {
  .portfolio-preview__additional-img {
    &:nth-child(2) {
      left: 10px;
      bottom: 0;
    }

    &:nth-child(3) {
      top: 82px;
      right: -40px;
    }

    &:nth-child(4) {
      right: -47px;
      bottom: 46px;
    }
  }

  .portfolio-preview__slide-element {
    &:nth-child(5) {
      top: 16px;
      left: -4px;
    }

    &:nth-child(6) {
      top: 71px;
      left: 29px;
      z-index: 90;
    }

    &:nth-child(7) {
      top: 109px;
      left: -25px;
      z-index: 90;
    }

    &:nth-child(8) {
      top: 185px;
      left: -92px;
    }

    &:nth-child(9) {
      top: 214px;
      left: -33px;
    }

    &:nth-child(10) {
      top: 243px;
      left: -92px;
    }

    &:nth-child(11) {
      top: 285px;
      left: -50px;
    }

    &:nth-child(12) {
      top: 28px;
      right: 155px;
    }

    &:nth-child(13) {
      top: 59px;
      right: 112px;
      z-index: 90;
    }

    &:nth-child(14) {
      top: 224px;
      right: 26px;
    }

    &:nth-child(15) {
      top: 231px;
      right: -56px;
    }

    &:nth-child(16) {
      top: 338px;
      right: 115px;
    }

    &:nth-child(17) {
      top: 345px;
      right: 69px;
    }
  }
}

.portfolio-preview__ladoga-btn {
  position: absolute;
  bottom: 30px;
  left: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 146px;
  height: 39px;
  padding: 5px 30px;
  color: $color-white;
  border: 3px solid $color-golden-dream;
  transition: color $transition-time $transition-function, background-color $transition-time $transition-function;

  &:hover,
  &:focus {
    color: $color-mine-shaft;
    background-color: $color-golden-dream;
  }
}

