.site-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-top: 37px;
  font-family: "Gilroy-Heavy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 900;
  background-color: $color-white;
  transition: box-shadow $transition-time $transition-function;

  &.is-scrolled {
    box-shadow: 0 12px 42px rgba(40, 40, 40, 0.1);

    .site-header__brief-btn {
      display: block;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
  }
}

.site-header__logo {
  color: $color-charade;
}

.site-header__brief-btn {
  display: none;
  min-width: 200px;
  padding: 18px 30px;
  text-align: center;
  color: $color-white;
  background-color: $color-pomegranate;
  transition: background-color $transition-time $transition-function;

  &:hover,
  &:focus {
    background-color: $color-persimmon;
  }
}
