*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  &.is-animating .transition-fade {
    opacity: 0;
  }
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $color-charade;

  &.modal-opened {
    overflow: hidden;
    padding-right: 17px;
  }
}

main {
  overflow-x: hidden;
}

h1 {
  max-width: 570px;
  margin-top: 47px;
  margin-bottom: 27px;
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  font-size: 36px;
  line-height: 44px;
}

h2 {
  max-width: 570px;
  margin-top: 30px;
  font-family: "Gilroy-Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

p {
  max-width: 570px;
  margin-bottom: 43px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}
