$color-white: #ffffff;
$color-charade: #262630;
$color-tuna: #383847;
$color-pomegranate: #F23718;
$color-persimmon: #FC6C54;
$color-gallery: #EDEDED;
$color-silver: #BBBBBB;
$color-concrete: #F2F2F2;
$color-gray: #939393;
$color-roman: #D76261;
$color-facebook: #3b5998;
$color-vk: #597da3;
$color-twitter: #00acee;
$color-odnoklassniki: #ed812b;
$color-golden-dream: #F1CB30;
$color-mine-shaft: #323232;

$transition-time: 0.2s;
$transition-function: ease-in-out;

$mobile-width: 400px;
$tablet-width: 970px;
$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
