extends pug/layout.pug

block variables
  -
    var page = {
      title: 'Статья',
      name: 'article'
    };

block content
  article.article
    .container
      h1 Как я организовал каталог тканей без каталога тканей по фотографии, прочитав мысли
      .article__container
        time(datetime="2020-03-12") 12 марта 2020
        .article__share
          svg(width="24" height="24")
            use(xlink:href="img/icons/sprite.svg#share")
          .article__share-dropdown-container
            .article__share-dropdown
              ul.article__share-socials
                li
                  a.article__share-facebook(href="#")
                    svg(width="20" height="20")
                      use(xlink:href="img/icons/sprite.svg#facebook")
                li
                  a.article__share-vk(href="#")
                    svg(width="20" height="20")
                      use(xlink:href="img/icons/sprite.svg#vk")
                li
                  a.article__share-twitter(href="#")
                    svg(width="20" height="20")
                      use(xlink:href="img/icons/sprite.svg#twitter")
                li
                  a.article__share-odnoklassniki(href="#")
                    svg(width="20" height="20")
                      use(xlink:href="img/icons/sprite.svg#odnoklassniki")

              a.article__share-link(href="#")
                svg(width="16" height="16")
                  use(xlink:href="img/icons/sprite.svg#link")
                | Скопировать ссылку

      h2 Как я организовал каталог тканей без каталога тканей по фотографии, прочитав мысли
      p Сделать сам сайт — 30% всей работы. Большую часть занимает планирование и проектирование. Но не всегда удается так работать. История о том как сделать каталог без исходных данных и заставить его приносить прибыль.

      .slider.swiper-container.js-slider
        ul.slider__list.swiper-wrapper
          li.slider__item.swiper-slide
            img(src="http://placehold.it/570x563/FFFFFF" alt="article")
          li.slider__item.swiper-slide
            img(src="http://placehold.it/370x563/FFFFFF" alt="article")
          li.slider__item.swiper-slide
            img(src="http://placehold.it/570x563/FFFFFF" alt="article")
          li.slider__item.swiper-slide
            img(src="http://placehold.it/370x563/FFFFFF" alt="article")
          li.slider__item.swiper-slide
            img(src="http://placehold.it/570x563/FFFFFF" alt="article")
          li.slider__item.swiper-slide
            img(src="http://placehold.it/370x563/FFFFFF" alt="article")

      h2 Как я организовал каталог тканей без каталога тканей по фотографии, прочитав мысли
      p Сделать сам сайт — 30% всей работы. Большую часть занимает планирование и проектирование. Но не всегда удается так работать. История о том как сделать каталог без исходных данных и заставить его приносить прибыль.

      .article__img
        img(src="http://placehold.it/1170x334/FFFFFF" alt="article")

      .article__hashtags
        a(href="#") #создание интернет-магазинов
        a(href="#") #1с-битрикс
        a(href="#") #портфолио

      a.articles-btn(href="articles.html") Читать другие статьи
