extends pug/layout.pug

block variables
  -
    var page = {
      title: 'Статьи',
      name: 'articles'
    };

block content
  section.articles
    .container
      h1.visually-hidden Статьи

      .articles__list(id="swup" class="transition-fade")
        p.articles__hashtag-title Создание интернет-магазинов

        article.article
          h2
            a(href="#") Как я сделал сайт и логотип для спутника и избежал метафоры про искусственный спутник Земли
          p Многие хотят быть не такими как все. С одной стороны нужно решить рабочую задачу, но с другой стороны компания стремится реализоваться и визуально. В 2015-м году ко мне обратилась юридическая компания, занимающаяся решением вопросов в области пожарной безопасности.

        article.article
          h2
            a(href="#") Как я организовал каталог тканей без каталога тканей по фотографии, прочитав мысли
          p Сделать сам сайт — 30% всей работы. Большую часть занимает планирование и проектирование. Но не всегда удается так работать. История о том как сделать каталог без исходных данных и заставить его приносить прибыль.
          .slider.swiper-container.js-slider
            ul.slider__list.swiper-wrapper
              li.slider__item.swiper-slide
                img(src="http://placehold.it/570x200/FFFFFF" alt="article")
              li.slider__item.swiper-slide
                img(src="http://placehold.it/270x200/FFFFFF" alt="article")
              li.slider__item.swiper-slide
                img(src="http://placehold.it/570x200/FFFFFF" alt="article")
              li.slider__item.swiper-slide
                img(src="http://placehold.it/270x200/FFFFFF" alt="article")
              li.slider__item.swiper-slide
                img(src="http://placehold.it/570x200/FFFFFF" alt="article")
              li.slider__item.swiper-slide
                img(src="http://placehold.it/270x200/FFFFFF" alt="article")

        article.article
          h2
            a(href="#") Как я организовал каталог тканей без каталога тканей по фотографии, прочитав мысли
          time(datetime="2020-03-12") 12 марта 2020
          p Сделать сам сайт — 30% всей работы. Большую часть занимает планирование и проектирование. Но не всегда удается так работать. История о том как сделать каталог без исходных данных и заставить его приносить прибыль.
          .article__hashtags
            a(href="#") #создание интернет-магазинов
            a(href="#") #1с-битрикс

      .pagination
        .pagination__pages
          a(href="/articles.html") 1
          a(href="/articles-2.html") 2
          a(href="#") 3
          a(href="#") 4
          a(href="#") 5
          a ...
          a(href="#") 100

        .pagination__buttons
          a.pagination__prev-btn(href="#" aria-label="Предыдущая страница")
          a.pagination__next-btn(href="#" aria-label="Следующая страница")
