extends pug/layout.pug

block variables
  -
    var page = {
      title: 'Обратная связь',
      name: 'feedback'
    };

block content
  section.feedback
    .container
      h1.visually-hidden Обратная связь
      p Здравствуйте.
      p Я занимаюсь управлением в области разработки и ведения интернет-проектов, а также интернет-рекламой.
      p <a class="link" href="#">Здесь</a> я рассказываю о своей проделанной работе.
      p <a class="link" href="#">Здесь</a> пишу о разработке и рекламе в интернете.
      p Если вы хотите поработать со мной или если у вас есть вопросы, воспользуйтесь формой обратной связи.

      .feedback__form.js-form
        form(action="https://echo.htmlacademy.ru" method="post")
          .feedback__contact-info.js-input
            label(for="name") Ваше имя
            input(type="text" name="name" id="name" required)
          .feedback__contact-info.js-input
            label(for="email") Email
            input(type="email" name="email" id="email" required)
          .feedback__contact-info.js-input.js-tel
            label(for="tel") Телефон
            input(type="tel" name="tel" id="tel" required)
          .feedback__message.js-input
            label.visually-hidden(for="message") Ваше сообщение
            textarea(name="message" id="message" rows="5" placeholder="Ваше сообщение" required)
          .feedback__agreement
            input.visually-hidden(type="checkbox" name="agreement" id="agreement" checked)
            label(for="agreement") Я даю согласие на обработку персональных данных
          button(type="submit") Отправить

        p.feedback__success-message Ваше письмо отправлено

      a.articles-btn(href="articles.html") Вернуться ко всем статьям
