extends pug/layout.pug

block variables
  -
    var page = {
      title: 'Кирилл Царенко',
      name: 'index'
    };

block content
  section.articles
    .container
      h1.visually-hidden Разработка и ведение интернет-проектов, интернет-реклама

      .index-content(id="swup" class="transition-fade")
        .portfolio-preview
          p Здравствуйте.
          p Я занимаюсь управлением в области разработки и ведения интернет-проектов, а также интернет-рекламой. Связаться со мной можно на <a class="link" href="feedback.html">этой странице</a>.

          .slider.swiper-container.js-slider.js-slider-portfolio
            ul.slider__list.swiper-wrapper
              li.slider__item.swiper-slide.portfolio-preview__greenhouse
                a(href="#")
                  img(src="img/greenhouse.jpg" width="370" height="370" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-1.png" data-speed="10" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-2.png" data-speed="20" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-3.png" data-speed="15" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-4.png" data-speed="10" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-5.png" data-speed="20" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-6.png" data-speed="20" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-7.png" data-speed="10" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-8.png" data-speed="10" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-9.png" data-speed="20" alt="Теплица")
                img.portfolio-preview__slide-element(src="img/element-greenhouse-10.png" data-speed="15" alt="Теплица")

              li.slider__item.swiper-slide.portfolio-preview__satellite
                a(href="#")
                  img(src="img/satellite.jpg" width="370" height="370" alt="Спутник")
                img.portfolio-preview__slide-element(src="img/element-satellite.png" data-speed="10" alt="Спутник")

              li.slider__item.swiper-slide.portfolio-preview__corynean
                a(href="#")
                  img(src="img/corynean.jpg" width="370" height="370" alt="Коринец")
                img.portfolio-preview__additional-img(src="img/corynean-1.png" alt="Коринец")
                img.portfolio-preview__additional-img(src="img/corynean-2.png" alt="Коринец")
                img.portfolio-preview__additional-img(src="img/corynean-3.png" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-1.png" data-speed="10" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-2.png" data-speed="10" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-3.png" data-speed="15" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-4.png" data-speed="10" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-5.png" data-speed="20" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-6.png" data-speed="15" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-7.png" data-speed="10" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-8.png" data-speed="15" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-9.png" data-speed="10" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-10.png" data-speed="15" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-11.png" data-speed="20" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-12.png" data-speed="20" alt="Коринец")
                img.portfolio-preview__slide-element(src="img/element-corynean-13.png" data-speed="10" alt="Коринец")

              li.slider__item.swiper-slide.portfolio-preview__ladoga
                img(src="img/ladoga.jpg" width="345" height="370" alt="Ладога")
                a.portfolio-preview__ladoga-btn(href="#") Вступить

        .articles__list
          article.article
            h2
              a(href="#") Как я сделал сайт и логотип для спутника и избежал метафоры про искусственный спутник Земли
            p Многие хотят быть не такими как все. С одной стороны нужно решить рабочую задачу, но с другой стороны компания стремится реализоваться и визуально. В 2015-м году ко мне обратилась юридическая компания, занимающаяся решением вопросов в области пожарной безопасности.

          article.article
            h2
              a(href="#") Как я организовал каталог тканей без каталога тканей по фотографии, прочитав мысли
            p Сделать сам сайт — 30% всей работы. Большую часть занимает планирование и проектирование. Но не всегда удается так работать. История о том как сделать каталог без исходных данных и заставить его приносить прибыль.
            .slider.swiper-container.js-slider
              ul.slider__list.swiper-wrapper
                li.slider__item.swiper-slide
                  img(src="http://placehold.it/570x200/FFFFFF" alt="article")
                li.slider__item.swiper-slide
                  img(src="http://placehold.it/270x200/FFFFFF" alt="article")
                li.slider__item.swiper-slide
                  img(src="http://placehold.it/570x200/FFFFFF" alt="article")
                li.slider__item.swiper-slide
                  img(src="http://placehold.it/270x200/FFFFFF" alt="article")
                li.slider__item.swiper-slide
                  img(src="http://placehold.it/570x200/FFFFFF" alt="article")
                li.slider__item.swiper-slide
                  img(src="http://placehold.it/270x200/FFFFFF" alt="article")

          article.article
            h2
              a(href="#") Как я организовал каталог тканей без каталога тканей по фотографии, прочитав мысли
            time(datetime="2020-03-12") 12 марта 2020
            p Сделать сам сайт — 30% всей работы. Большую часть занимает планирование и проектирование. Но не всегда удается так работать. История о том как сделать каталог без исходных данных и заставить его приносить прибыль.
            .article__hashtags
              a(href="#") #создание интернет-магазинов
              a(href="#") #1с-битрикс

      .pagination
        .pagination__pages
          a(href="/index.html") 1
          a(href="/articles-2.html") 2
          a(href="#") 3
          a(href="#") 4
          a(href="#") 5
          a ...
          a(href="#") 100

        .pagination__buttons
          a.pagination__prev-btn(href="#" aria-label="Предыдущая страница")
          a.pagination__next-btn(href="#" aria-label="Следующая страница")
