doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    title Карта сайта
    link(rel="stylesheet" href="css/style.min.css")

  body
    .container
      h1 Карта сайта

      ul
        li
          a(href="index.html") Главная
        li
          a(href="articles.html") Статьи
        li
          a(href="article.html") Статья
        li
          a(href="feedback.html") Обратная связь
        li
          a(href="404.html") 404
